{%extends "index.html"%}

{%block content%}
<div class="container">    

    <h1>Add Category</h1>
    <form method="post">
<table class="table">
       <tr>
           <td>Are you sure you want to delete?</td>
           <td></td>
       </tr>
       <tr>
           <td><input class="btn btn-danger " type="submit" value="Yes" name="action"/>
            <input class="btn btn-success " type="submit" value="No" name="action"/></td>
           <td></td>
       </tr>
    

</table>
</form>
</div>
{%endblock%}