{% extends "index.html" %}

{% block content %}
<div class="container">    
    <h1>Edit Category</h1>
    <form method="post">
        <table class="table">
            <tr>
                <td>Category ID</td>
                <td><input type="text" name="cid" value="{{ cat[0] }}" readonly/></td>
            </tr>
            <tr>
                <td>Category Name</td>
                <td><input type="text" placeholder="Category Name" name="cname" value="{{ cat[1] }}" required/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update Category"/></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
