{%extends "index.html"%}

{%block content%}
<div class="container">    

    <h1>Add Product</h1>
    <form method="post">
<table class="table">
       <tr>
           <td>Product Name</td>
           <td><input type="text" value="{{prd[1]}}" name="pname"/></td>
           <td><input type="text" value="{{prd[2]}}" name="price"/></td>
           <td><input type="text" value="{{prd[3]}}" name="image"/></td>
       </tr>
       <tr>
           <td><button class="btn btn-primary " type="submit">Save Product</button></td>
           <td></td>
       </tr>
    

</table>
</form>
</div>
{%endblock%}