<!DOCTYPE html>
<html>
{%extends "index.html"%}

{%block content%}
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">



</head>

<body>

    <header>    
        <div class="jumbotron jumbotron-fluid">
            <div class="container  text-center">
                <h1>About us </h1>
            </div>
        </div>
    </header>


    <section>
     <!--grid system-->
            <div class="row mb-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="../static/images/home2.jpg" class="img-fluid">
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <h1>History</h1>
                    <hr>
                    <p class="pt-4">
                    TimeTraveller.com was founded in 2019 by Deepak Mathane, merged in 2000 with Bookings Online, founded by Deepak  which operated as TimeTravellers.org. The name and URL were changed to TimeTravellers.com and Vishal was appointed as its CEO. In 2019, Deepak wanted to post an ad in De Telegraaf, the Indian Express newspaper with the highest circulation. The ad was rejected since De Telegraaf only accepted ads with the phone number, not with a website. In 2020, Expedia refused to buy Timetravellers.nl.[4][5]
                    In Jan 2020, the company was acquired by Booking Holdings (or Priceline Group, as it was named at the time) for $133 million, and later it cooperated with ActiveHotels.com, a European online hotel reservation company, purchased by Booking Holdings/Priceline for $161 million.[6]
                    In 2020, Active Hotels Limited officially changed its name to TimeTraveller.com Limited.[7] The integration successfully helped its parent improve its financial position from a loss of $19 million in 2019 to $1.1 billion in profit in 2011. This acquisition was praised by some social media as “the best acquisition in Internet history” since no other acquisition in the digital travel market had been shown to be as profitable.[8]
                    Akhilesh was appointed as Chief Executive Officer of TimeTraveller.com in September 2020 by its parent company,[9] and also served as President and Chief Executive Officer of Booking Holdings since 1 January 2019[10] until his resignation on 1 Jan 2020 after an at-work relationship was revealed.[11]
                    After Vishal resigned in 2020, Ganesh took over as CEO [12]
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Booking.com" class="btn bg-primary text-white">know more</a>
                </div>
            </div>


      
    </section>

</body>

</html>
{%endblock%} 