{%extends "index.html"%}

{%block content%}

<body>
<section>
    <div class=container>
        <h1 class="text-center text-capitalize pt-5">offers in store for you</h1>
        <hr class="w-25 mx-auto pt-5 ">
        

        <div class="card-deck">
            <div class="row text-center ">
                
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer14.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Exciting Deals</h4>
                        <p class="card-text">Valid till:10th Jan 2020 </p>
                    </div>
                </div>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer4.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">PayPal Train offers</h4>
                        <p class="card-text">Valid till:10th Jan 2020</p>
                    </div>
                </div>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer3.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Ferdral Bank offers</h4>
                        <p class="card-text">Valid till:10th Jan 2020</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="card-deck">
            <div class="row text-center ">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer21.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Super Savings</h4>
                        <p class="card-text">Flat up to Rs.110 | Code: FIRSTBUS</p>
                        <p class="card-text">Valid till:10th Jan 2020 </p>                     
                    </div>
                </div>

                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer22.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Bumper Sale</h4>
                        <p class="card-text">Up to 20% off | Code: SB20</p>
                        <p class="card-text">Valid till:10th Jan 2020</p>                 
                    </div>
                </div>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer23.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Save Big On Bus Tickets!</h4>
                        <p class="card-text">Up to 15% off. Code: MYBUS</p>
                        <p class="card-text">Valid till:10th Jan 2020</p>                            
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="row text-center ">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer7.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Pay Later hotels offers</h4>
                        <p class="card-text">Valid till:10th Jan 2020 </p>
                    </div>
                </div>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer12.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Christmas offers</h4>
                        <p class="card-text">Valid till:10th Jan 2020</p>
                    </div>
                </div>
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../static/images/cardoffer6.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Special offers</h4>
                        <p class="card-text">Valid till:10th Jan 2020</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>


</body>
{%endblock%}