{%extends "index.html"%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Display</title>
</head>
<body>
    <h1>Show Products!!!</h1>
    <div class="container">
        <form method="post" action="/AddToCart">
            <table class="table">
                <tr>
                    <th>Pid</th>
                    <td>{{ prd['pid'] }}
                        <input type="hidden" value="{{ prd['pid'] }}" name="pid"/>
                    </td>
                </tr>
                <tr>
                    <th>Pname</th>
                    <td>{{ prd['pname'] }}
                        <input type="hidden" name="pname" value="{{ prd['pname'] }}"/>
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ prd['price'] }}
                        <input type="hidden" name="price" value="{{ prd['price'] }}"/>
                    </td>
                </tr>
                <tr>
                    <th>Product Details</th>
                    <td>{{ prd['details'] }}</td>
                </tr>
                <tr>
                    <th>Seat Information</th>
                    <td>{{ prd['seats'] }}</td>
                </tr>
                <tr>
                    <th>Seats</th>
                    <td>
                        <input name = 'qty' type = 'number' placeholder = 'quantity'>
                    </td>
                </tr>
                <tr>
                    <td><input class="btn btn-outline-info" type="submit" value="Add To Cart"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

{%endblock%}

